.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.menu {
  z-index: 99;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  align-items: center;
  padding: 0 50px;
  display: flex;
  position: relative;
}

.nav {
  width: 50%;
  height: 100%;
  float: right;
  color: #dceefd;
  text-align: right;
  background-color: rgba(0, 0, 0, 0);
  flex: 0 auto;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
  padding-top: 0;
  padding-right: 50px;
  line-height: 14px;
  display: flex;
  position: absolute;
  top: 0%;
  right: 0;
}

.link {
  color: #dceefd;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-left: 10%;
  padding-right: 0%;
  font-family: Recursive sans linear, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.link.w--current {
  text-transform: capitalize;
}

.hero {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0 solid #000;
  justify-content: center;
  align-items: center;
  padding: 8%;
  display: flex;
  position: static;
}

.headersection {
  width: 100%;
  height: auto;
  color: #333;
  background-color: #013662;
  border-top: 0 solid #000;
  border-bottom: 0 solid #000;
  position: relative;
}

.column {
  height: auto;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: content-box;
  border: 0 solid #000;
  border-bottom: 1px solid #333;
  align-self: stretch;
  padding-left: 0;
  padding-right: 0;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: static;
  top: 10%;
  left: 10%;
}

.footer {
  width: 100%;
  height: 100px;
  color: #dceefd;
  background-color: #013662;
  border: 1px solid #000;
  border-bottom: 0 #000;
  padding-top: 0;
  position: static;
  top: 0%;
}

.confusedaboutbranding {
  width: 100%;
  color: #dceefc;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 0%;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Recursive sans linear, sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 100%;
  display: inline-block;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.brandpersonalityworkshop {
  width: 60%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
  margin-top: 3%;
  margin-bottom: 0;
  margin-left: 20%;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Playfair Display, sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  display: block;
  position: static;
  top: 20%;
  left: 20%;
}

.herodescription {
  width: 40%;
  height: 128px;
  text-align: center;
  margin-top: 3%;
  margin-left: 30%;
  font-family: Recursive sans linear, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
  position: static;
  top: auto;
  bottom: 6%;
  left: 0%;
  right: 0%;
}

.description {
  width: 96%;
  height: auto;
  color: #dceefc;
  background-color: rgba(0, 0, 0, 0);
  border-left: 0 solid #000;
  border-right: 0 solid #000;
  margin-top: 0%;
  margin-left: 0%;
  padding-bottom: 0%;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image {
  height: 100%;
  max-height: 100%;
  max-width: none;
  min-height: 90%;
  min-width: auto;
  margin-top: 0%;
  line-height: 14px;
  position: absolute;
  top: 0;
}

.freetoolforentrepreneurs {
  width: 50%;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 3%;
  margin-bottom: 0%;
  margin-left: 25%;
  font-family: Recursive sans linear, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  position: static;
  top: 28%;
  left: 25%;
}

.image-4 {
  max-height: 100vh;
  max-width: none;
  text-align: center;
  border-bottom: 0 #000;
  overflow: visible;
}

.slide {
  text-align: center;
  overflow: visible;
}

.wewanttohelp {
  width: 100%;
  color: #dceefc;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 5%;
  font-family: Recursive sans linear, sans-serif;
  font-size: 110px;
  font-weight: 400;
  line-height: 100%;
  position: static;
  top: 10%;
  left: 0%;
}

.slide-2 {
  text-align: center;
}

.slide-nav {
  border-bottom: 1px #000;
  padding-top: 0;
}

.slide-nav-2 {
  color: #013662;
  -webkit-text-stroke-color: #333;
  border-bottom: 1px solid #000;
  padding-top: 0;
}

.section-header {
  width: 100%;
  color: #fff8e4;
  margin-top: 0%;
  margin-left: 0%;
  font-family: Recursive sans linear, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2em;
}

.paragraph {
  width: 100%;
  margin-top: 0%;
  margin-left: 0%;
  font-family: Recursive sans linear, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.75em;
}

.text-field {
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  margin-top: 0%;
  margin-bottom: 0;
  margin-left: 0%;
  font-family: Recursive sans linear, sans-serif;
  font-weight: 500;
  display: inline-block;
}

.text-field:focus {
  background-color: #eee;
  border-style: solid;
  border-color: #000;
}

.submit-button {
  width: 20%;
  color: #372c24;
  text-transform: uppercase;
  background-color: #ffb800;
  border: 1px solid #372c24;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 0%;
  margin-left: -15%;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Recursive sans linear, sans-serif;
  font-size: .85em;
  font-weight: 800;
  line-height: 18px;
  position: absolute;
}

.form {
  width: auto;
  margin-top: 10%;
  position: relative;
}

.form.mc-tags {
  width: auto;
  position: static;
}

.column-4 {
  height: 100vh;
  background-color: #eee;
  padding-left: 0;
  padding-right: 0;
}

.column-5 {
  height: 100vh;
  background-color: #fff8e4;
  border: 0 #000;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.column-6 {
  height: 100vh;
  background-color: #eee;
  padding-left: 0;
  padding-right: 0;
}

.column-7 {
  height: 100vh;
  background-color: #ffb8a8;
  border: 0 #000;
  border-radius: 1px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.checkbox {
  width: 18px;
  height: 18px;
  background-color: #242424;
  border-color: #242424;
  margin-top: 0;
}

.checkbox.w--redirected-checked {
  width: 18px;
  height: 18px;
  background-color: #000;
  border-color: #000;
  margin-top: 0;
  display: inline-block;
}

.checkbox.w--redirected-focus {
  box-shadow: none;
}

.checkbox-field {
  width: 60%;
  margin-top: 5%;
  margin-bottom: 0;
  margin-left: 22.5%;
  display: none;
}

.checkbox-label {
  padding-left: 5px;
  font-family: Recursive sans linear, sans-serif;
  font-weight: 600;
}

.postmsgstyle {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff8e4;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 20%;
  font-family: Recursive sans linear, sans-serif;
  font-weight: 600;
}

.text-block {
  font-family: Recursive sans linear, sans-serif;
  font-weight: 600;
}

.copyright {
  text-align: center;
  letter-spacing: 0;
  margin-top: 43px;
  font-family: Recursive sans linear, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
}

.italic-text {
  text-align: center;
  font-family: Recursive sans casual, sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1em;
}

.image-5 {
  object-fit: cover;
  display: none;
}

.introducing {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 3%;
  font-family: Recursive sans linear, sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: static;
  top: 15%;
}

.hiddencheckbox {
  margin-left: 22.5%;
  display: none;
}

.button-round {
  width: 50px;
  height: 50px;
  color: #013662;
  text-align: center;
  background-color: #ffb8a8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  display: flex;
}

.button-round.rotate-180 {
  color: #013662;
  transform-style: preserve-3d;
  background-color: #ffb8a8;
  transform: rotateX(0)rotateY(180deg)rotateZ(0);
}

.left-arrow, .right-arrow {
  justify-content: center;
  align-items: center;
  display: flex;
}

.italic-text-2 {
  color: #3771aa;
}

.url {
  color: #dceefd;
}

.home {
  width: 130px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
  padding-right: 0;
}

.homepage-copy {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  display: flex;
}

.paragraph-4 {
  width: auto;
  color: #ffb8a8;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: Recursive sans linear, sans-serif;
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1.5em;
}

.homeepage-wrapper {
  width: 20%;
  text-align: center;
}

.availbleformats {
  width: auto;
  color: #ffb8a8;
  text-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  font-family: Recursive sans linear, sans-serif;
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1.5em;
  display: block;
  transform: rotate(0);
}

.availbleformats.rotatecopy {
  padding-left: 60px;
  padding-right: 35px;
  font-family: Recursive sans casual, sans-serif;
  font-style: italic;
  font-weight: 600;
  position: absolute;
}

.homeepage-wrapper-4 {
  width: 40%;
  -webkit-text-stroke-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  position: relative;
}

.homepage-wrapper-1 {
  width: 40%;
  align-items: flex-start;
  margin-top: -5%;
  display: flex;
}

.emphasizecopy {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blob-outline {
  width: 110%;
  display: block;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wrapper {
  align-items: center;
  display: flex;
}

.swirl-2 {
  width: 80%;
  margin-left: 100px;
}

.homepagecontent {
  width: 100%;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto;
  grid-template-areas: "."
                       "."
                       ".";
  margin-top: 40px;
}

.div-block-8 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.div-block-9 {
  justify-content: flex-end;
  display: flex;
}

.grid-3 {
  align-items: center;
  justify-items: center;
}

.columns {
  align-items: flex-start;
  display: flex;
}

.homepage-copy-paragraph {
  color: #ffb8a8;
  text-align: left;
  font-family: Recursive sans linear, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
}

.image-6 {
  padding: 20px;
}

.header {
  width: 100%;
  color: #dceefc;
  text-align: center;
  margin-bottom: 60px;
  padding: 20px;
}

.intro {
  width: 100%;
  color: #dceefc;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Recursive sans linear, sans-serif;
  font-size: 2em;
}

.section-background-2 {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.section-col-div {
  z-index: 1;
  width: 70%;
  height: auto;
  color: #fff8e4;
  background-color: #013662;
  border-radius: 20px;
  padding: 60px;
  position: relative;
}

.label {
  color: #ffb800;
  letter-spacing: 1px;
  font-family: Recursive sans linear, sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.list {
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
}

.list-item {
  width: 85%;
  padding-bottom: 20px;
  font-family: Recursive sans linear, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.list-item.last-item-minus-margin {
  padding-bottom: 0;
  font-weight: 600;
  line-height: 1.5em;
}

.section-background-1 {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (min-width: 1280px) {
  .nav {
    margin-right: 0;
  }

  .link {
    font-size: 16px;
  }

  .hero {
    height: 100vh;
  }

  .column {
    height: auto;
  }

  .confusedaboutbranding {
    color: #dceefc;
    font-size: 2.5em;
    position: static;
  }

  .brandpersonalityworkshop {
    letter-spacing: 0;
    font-size: 53px;
    top: 20%;
  }

  .herodescription {
    height: 105px;
    margin-top: 3%;
    font-size: 14px;
    font-weight: 600;
    position: static;
  }

  .description {
    width: 100%;
    height: 80%;
    margin-top: 0%;
    padding-bottom: 0%;
    position: absolute;
    top: 10%;
  }

  .freetoolforentrepreneurs {
    margin-top: 3%;
    font-size: 14px;
    position: static;
    top: 29%;
  }

  .wewanttohelp {
    letter-spacing: 2px;
    margin-top: 3%;
    font-size: 53px;
  }

  .submit-button {
    font-size: .9em;
    line-height: 18px;
  }

  .introducing {
    margin-top: 3%;
  }

  .home {
    margin-left: 0;
    padding-left: 10px;
  }

  .homepage-copy {
    height: 90%;
    align-items: center;
    margin-top: 40px;
  }

  .div-block-10 {
    align-items: center;
  }

  .grid-3 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }

  .homepage-copy-paragraph {
    width: 90%;
    line-height: 1.6em;
  }

  .intro {
    width: 100%;
    color: #dceefc;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Recursive sans linear, sans-serif;
    font-size: 2em;
  }

  .label {
    font-weight: 800;
  }

  .section-background-1 {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav {
    font-size: 16px;
    line-height: 16px;
  }

  .link {
    margin-right: 10px;
    padding-right: 0%;
  }

  .hero {
    height: 100vh;
    padding: 20px 100px;
  }

  .column {
    height: auto;
  }

  .footer {
    border-bottom-style: none;
  }

  .confusedaboutbranding {
    letter-spacing: 4px;
    font-size: 2.5em;
  }

  .brandpersonalityworkshop {
    letter-spacing: 0;
    font-size: 62px;
    top: 25%;
  }

  .herodescription {
    height: 104px;
    margin-top: 3%;
    font-size: 14px;
    font-weight: 600;
  }

  .description {
    width: 100%;
    height: 80%;
    margin-top: 0%;
    padding-bottom: 0%;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 10%;
  }

  .image {
    margin-left: 0;
  }

  .freetoolforentrepreneurs {
    width: 40%;
    letter-spacing: 4px;
    margin-top: 3%;
    margin-left: 30%;
    font-size: 14px;
    top: 35%;
    left: 30%;
  }

  .image-4 {
    border-bottom-width: 1px;
  }

  .wewanttohelp {
    letter-spacing: 2px;
    margin-top: 3%;
    font-size: 60px;
  }

  .section-header {
    width: 80%;
    margin-bottom: 10px;
  }

  .submit-button {
    font-size: .95em;
  }

  .copyright {
    letter-spacing: 0;
    -webkit-text-stroke-width: 0px;
    text-transform: none;
  }

  .footersection {
    background-color: #eee;
  }

  .italic-text {
    font-size: 3em;
  }

  .homepage-copy {
    height: 90%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .paragraph-4 {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
  }

  .availbleformats.rotatecopy {
    padding-right: 35px;
  }

  .div-block-10 {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }

  .grid-3 {
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .homepage-copy-paragraph {
    width: 85%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2em;
    line-height: 1.5em;
  }

  .image-6 {
    height: 100%;
    padding: 0;
  }

  .header {
    margin-top: 40px;
    margin-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Recursive sans casual, sans-serif;
    font-size: 2.5em;
    line-height: 1em;
  }

  .column-9 {
    height: 100%;
    text-align: center;
  }

  .intro {
    width: 100%;
    color: #dceefc;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Recursive sans linear, sans-serif;
    font-size: 2.5em;
  }

  .section-col-div {
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
  }

  .label {
    margin-top: 0;
    margin-bottom: 0;
  }

  .list {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .list-item {
    width: 80%;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .list-item.last-item-minus-margin {
    line-height: 1.5em;
  }

  .section-background-1 {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .menu {
    z-index: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
  }

  .nav {
    height: 22px;
    text-align: right;
    margin-right: 0;
    font-size: 22px;
    line-height: 22px;
    top: 33%;
  }

  .hero {
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-items: flex-start;
    padding: 0 15%;
    position: relative;
  }

  .headersection {
    height: 100vh;
  }

  .column {
    height: auto;
    border-bottom: 1px solid #333;
  }

  .slider {
    text-align: center;
  }

  .footer {
    background-color: #013662;
  }

  .confusedaboutbranding {
    letter-spacing: 6px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 35px;
    top: 0%;
  }

  .brandpersonalityworkshop {
    font-size: 80px;
    top: 40%;
  }

  .herodescription {
    height: 150px;
    margin-top: 3%;
    font-size: 21px;
    line-height: 150%;
    bottom: 0%;
  }

  .description {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0%;
    padding: 100px;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
  }

  .image {
    max-height: 100px;
  }

  .freetoolforentrepreneurs {
    letter-spacing: 6px;
    margin-top: 3%;
    font-size: 20px;
    top: 50%;
  }

  .wewanttohelp {
    margin-top: 3%;
    font-family: Recursive sans casual, sans-serif;
    font-size: 75px;
    font-weight: 400;
    position: static;
    top: 10%;
  }

  .slide-2 {
    text-align: center;
  }

  .slide-nav {
    border-bottom-style: none;
  }

  .section-header {
    width: 100%;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 110%;
  }

  .paragraph {
    font-size: 24px;
    line-height: 1.75em;
  }

  .text-field {
    width: 90%;
    height: 60px;
    border-color: #372c24;
    margin-left: 0%;
    font-size: 21px;
  }

  .submit-button {
    height: 60px;
    color: #372c24;
    text-transform: uppercase;
    background-color: #ffb800;
    border: 1px solid #372c24;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 100%;
  }

  .column-5 {
    background-color: #fff8e4;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .column-7 {
    background-color: #ffb8a8;
  }

  .checkbox.w--redirected-checked {
    width: 21px;
    height: 21px;
  }

  .checkbox-label {
    font-size: 21px;
  }

  .copyright {
    width: 100%;
    margin-top: 39px;
    font-size: 22px;
    line-height: 22px;
  }

  .footersection {
    height: auto;
  }

  .slide-3, .slide-4, .slide-5, .slide-6 {
    text-align: center;
  }

  .italic-text {
    width: 100%;
    font-size: 1.5em;
    line-height: 1em;
  }

  .introducing {
    letter-spacing: 6px;
    font-size: 20px;
    top: 30%;
  }

  .button-round {
    color: #013662;
    -webkit-text-stroke-color: #ffb8a8;
  }

  .button-round.rotate-180 {
    color: #013662;
  }

  .right-arrow {
    justify-content: center;
    align-items: center;
  }

  .homepage-copy {
    height: 95%;
    background-color: rgba(0, 0, 0, 0);
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
  }

  .paragraph-4 {
    width: 100%;
    padding: 0 100px 0 0;
    font-size: 2.5em;
    position: absolute;
    top: 0;
  }

  .availbleformats {
    padding: 40px 50px;
    font-size: 2.5em;
  }

  .availbleformats.rotatecopy {
    width: 60%;
    line-height: 1.5em;
  }

  .homeepage-wrapper-4 {
    margin-top: -1%;
  }

  .homepage-wrapper-1 {
    height: auto;
    object-fit: fill;
    justify-content: flex-start;
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 14px;
    display: flex;
    position: relative;
  }

  .blob-outline {
    width: 60%;
    top: -5%;
  }

  .wrapper {
    justify-content: flex-start;
  }

  .swirl-2 {
    width: 120%;
  }

  .swirl-1 {
    width: 70%;
  }

  .div-block-10 {
    height: auto;
    align-items: flex-start;
    display: flex;
  }

  .grid-3 {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    display: flex;
  }

  .columns {
    width: 100%;
    align-items: stretch;
    margin-top: -5%;
  }

  .homepage-copy-paragraph {
    width: 75%;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Recursive sans linear, sans-serif;
  }

  .header {
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    margin-top: -10%;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 5em;
  }

  .intro {
    width: 100%;
    color: #dceefc;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: Recursive sans linear, sans-serif;
    font-size: 3em;
  }

  .section-background-2 {
    z-index: 0;
    height: 100%;
    position: absolute;
  }

  .section-col-div {
    z-index: 1;
    width: 70%;
    height: 80%;
    color: #fff8e4;
    background-color: #013662;
    border-radius: 40px;
    flex-direction: column;
    padding: 100px 100px 60px;
    display: flex;
    position: absolute;
  }

  .label {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 800;
  }

  .list {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    font-family: Recursive sans casual, sans-serif;
  }

  .list-item {
    width: 75%;
    padding-bottom: 40px;
    font-size: 24px;
  }

  .list-item.last-item-minus-margin {
    line-height: 1.5em;
  }

  .section-background-1 {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .menu {
    height: 80px;
    border: 1px #000;
    padding-right: 50px;
  }

  .nav {
    top: 0%;
  }

  .hero {
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 4%;
    padding-right: 4%;
    position: static;
  }

  .headersection {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .column {
    max-height: 100vh;
  }

  .footer {
    border-bottom-width: 0;
  }

  .confusedaboutbranding {
    letter-spacing: 4px;
    font-size: 25px;
  }

  .brandpersonalityworkshop {
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 50px;
    top: 20%;
    left: 0%;
  }

  .herodescription {
    width: 80%;
    height: 106px;
    margin-top: 5%;
    margin-left: 10%;
    left: 10%;
  }

  .description {
    width: 98%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border: 1px #000;
    margin-left: 0%;
    position: static;
    top: 0%;
    left: 0%;
    right: 0%;
  }

  .freetoolforentrepreneurs {
    width: 60%;
    letter-spacing: 4px;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 14px;
    position: static;
    top: 28%;
    left: 20%;
  }

  .image-4 {
    text-align: center;
    object-fit: fill;
  }

  .wewanttohelp {
    font-size: 50px;
  }

  .section-header {
    font-size: 35px;
  }

  .paragraph {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .submit-button {
    font-size: .72em;
  }

  .copyright {
    line-height: 1.5em;
  }

  .italic-text {
    font-size: 1.6em;
    line-height: 1em;
  }

  .introducing {
    margin-top: 5%;
    top: 15%;
  }

  .homepage-copy {
    margin-top: 40px;
    padding: 20px 0;
  }

  .paragraph-4 {
    font-size: 1.5em;
  }

  .availbleformats {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
  }

  .availbleformats.rotatecopy {
    padding-left: 40px;
    padding-right: 15px;
    font-size: 1.5em;
  }

  .emphasizecopy {
    letter-spacing: 1px;
  }

  .blob-outline {
    width: 120%;
  }

  .wrapper {
    width: 120%;
    justify-content: center;
    align-items: center;
  }

  .swirl-2 {
    width: 60%;
  }

  .grid-3 {
    justify-items: center;
  }

  .homepage-copy-paragraph {
    font-size: 20px;
  }

  .image-6 {
    max-width: 90%;
  }

  .header {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .intro {
    width: 100%;
    color: #dceefc;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Recursive sans linear, sans-serif;
    font-size: 2em;
  }

  .section-background-2 {
    display: inline-block;
  }

  .section-col-div {
    width: 90%;
    padding: 50px;
  }

  .list {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .list-item, .list-item.last-item-minus-margin {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
  }

  .nav {
    width: 60%;
    height: 100%;
    text-align: center;
    margin-top: auto;
    margin-right: 0;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: 0%;
  }

  .hero {
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
  }

  .headersection {
    height: auto;
    background-color: #013662;
    border: 0 solid #000;
    border-bottom-width: 1px;
  }

  .column {
    height: auto;
    max-height: none;
    border-width: 0 0 1px;
  }

  .footer {
    border-width: 1px 0 0;
    font-family: Recursive sans linear, sans-serif;
    font-weight: 600;
    line-height: 14px;
  }

  .confusedaboutbranding {
    letter-spacing: 4px;
    font-size: 20px;
  }

  .brandpersonalityworkshop {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 38px;
    top: 22%;
    left: 10%;
  }

  .herodescription {
    width: 90%;
    height: 137px;
    margin-top: 10%;
    margin-left: 5%;
    line-height: 150%;
    position: static;
    bottom: 0%;
    left: 5%;
  }

  .description {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    margin-top: 5%;
    margin-left: 0%;
    position: static;
  }

  .image {
    width: 100px;
    height: 100px;
    max-width: 100%;
    min-height: 90%;
    display: block;
    position: absolute;
    top: 0%;
  }

  .freetoolforentrepreneurs {
    width: 80%;
    letter-spacing: 4px;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 12px;
    position: static;
    top: 0%;
    left: 10%;
  }

  .image-4 {
    text-align: center;
  }

  .wewanttohelp {
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10%;
    margin-left: 10%;
    font-size: 45px;
    top: 9%;
  }

  .paragraph {
    background-color: rgba(0, 0, 0, 0);
  }

  .text-field {
    width: 90%;
  }

  .submit-button {
    font-size: .9em;
  }

  .form {
    margin-bottom: 22.5%;
  }

  .column-4 {
    height: auto;
  }

  .column-5 {
    height: auto;
    border-left-width: 0;
    padding-right: 0;
  }

  .column-6 {
    height: auto;
    border-top: 1px #000;
  }

  .column-7 {
    height: auto;
    border-bottom-width: 0;
    border-left-width: 0;
    padding-right: 0;
  }

  .copyright {
    font-size: 14px;
    line-height: 1.5em;
  }

  .footersection {
    display: block;
  }

  .workshopsection {
    height: auto;
    display: block;
  }

  .italic-text {
    font-size: 1.5em;
    line-height: 1.1em;
    display: block;
  }

  .introducing {
    margin-top: 10%;
    top: 15%;
  }

  .button-round {
    width: 60px;
    height: 60px;
  }

  .homepage-copy {
    background-color: #013662;
    display: flex;
    position: relative;
  }

  .availbleformats {
    padding: 10px;
    font-size: 1.4em;
  }

  .availbleformats.rotatecopy {
    width: 75%;
    padding-left: 0;
    padding-right: 0;
  }

  .blob-outline {
    width: 120%;
  }

  .wrapper {
    width: 130%;
    position: relative;
  }

  .swirl-2 {
    width: 50%;
    position: static;
  }

  .homepage-wrapper-2 {
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .grid-3 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .columns {
    flex-direction: column;
  }

  .homepage-copy-paragraph {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 24px;
  }

  .image-6 {
    max-width: 70%;
  }

  .header {
    margin-bottom: 0;
  }

  .column-9 {
    text-align: center;
  }

  .intro {
    width: 100%;
    color: #dceefc;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Recursive sans linear, sans-serif;
    position: static;
  }

  .section-col-div {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 70px;
  }
}

@media screen and (max-width: 479px) {
  .menu {
    height: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0% 0 0;
    display: flex;
    position: relative;
  }

  .nav {
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    display: flex;
    position: static;
  }

  .link {
    font-size: 14px;
  }

  .link.w--current {
    padding-left: 0%;
    font-size: 14px;
  }

  .hero {
    height: auto;
    background-color: #013662;
    padding-left: 4%;
    padding-right: 4%;
    display: block;
    position: static;
  }

  .headersection {
    height: auto;
    background-color: #013662;
    border-top-width: 0;
    justify-content: center;
    align-items: flex-start;
    display: block;
  }

  .column {
    background-color: #eee;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-style: none;
    border-right-style: none;
    border-right-width: 0;
  }

  .footer {
    border-style: solid solid none;
    border-width: 1px 0 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    position: static;
  }

  .confusedaboutbranding {
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 120%;
    top: 0%;
  }

  .brandpersonalityworkshop {
    width: 100%;
    margin-top: 10%;
    margin-left: 0%;
    font-size: 32px;
    position: static;
    top: 22%;
    left: 0%;
  }

  .herodescription {
    width: 100%;
    height: 140px;
    margin-left: 0%;
    font-size: 12px;
    line-height: 150%;
    display: inline-block;
    position: static;
    top: auto;
    bottom: 0%;
    left: 0%;
  }

  .description {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0%;
    position: static;
    left: -3%;
  }

  .image {
    width: 100px;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100px;
    margin-top: 0%;
    position: static;
    top: 0%;
  }

  .image.logo {
    display: block;
    position: static;
  }

  .freetoolforentrepreneurs {
    width: 100%;
    letter-spacing: 3px;
    margin-left: 0%;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    position: static;
    top: 30%;
    left: 0%;
  }

  .image-4 {
    width: 100%;
  }

  .wewanttohelp {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 36px;
    position: static;
    top: 10%;
    left: 5%;
  }

  .section-header {
    width: 70%;
    margin-top: 15%;
    margin-left: 0%;
    font-size: 30px;
  }

  .paragraph {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0%;
  }

  .text-field {
    width: 70%;
    margin-left: 0%;
  }

  .submit-button {
    width: 30%;
    margin-left: -10%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: .75em;
  }

  .form {
    margin-bottom: 15%;
  }

  .column-4 {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .column-5 {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0;
  }

  .column-6 {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .column-7 {
    height: auto;
    border-bottom-width: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0;
    display: flex;
  }

  .checkbox-field {
    margin-left: 15%;
    line-height: 16px;
  }

  .checkbox-label {
    margin-bottom: 0;
    font-size: 11px;
  }

  .copyright {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.5em;
  }

  .footersection {
    border-top: 0 solid #000;
    display: block;
  }

  .italic-text {
    font-size: 1em;
    display: block;
  }

  .image-5 {
    max-height: 100%;
    object-fit: fill;
    display: block;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    overflow: visible;
  }

  .introducing {
    margin-top: 10%;
    top: 15%;
  }

  .hiddencheckbox {
    display: none;
  }

  .button-round {
    width: 50px;
    height: 50px;
  }

  .home {
    width: auto;
    flex: 0 auto;
    padding-left: 0;
  }

  .homepage-copy {
    padding-left: 10px;
    padding-right: 10px;
  }

  .paragraph-4 {
    font-size: .8em;
  }

  .availbleformats {
    padding-left: 10px;
    padding-right: 10px;
    font-size: .8em;
  }

  .availbleformats.rotatecopy {
    padding-left: 10px;
    padding-right: 0;
    font-size: .75em;
  }

  .blob-outline {
    height: 100%;
  }

  .swirl-2 {
    width: 50%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .homepagecontent {
    grid-column-gap: 0px;
    grid-template-columns: 1fr 1fr;
  }

  .logo-div {
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .homepage-wrapper-2 {
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    position: relative;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .grid-3 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
  }

  .columns {
    flex-direction: column;
  }

  .homepage-copy-paragraph {
    font-size: 17px;
  }

  .image-6 {
    max-width: 100%;
  }

  .header {
    font-size: 34px;
    line-height: 1.25em;
  }

  .column-8, .column-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .intro {
    margin-bottom: 0;
    font-size: 1.5em;
  }

  .section-col-div {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

#w-node-_910444c2-9d91-8119-0e3c-875af0dfb844-3c7f695d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_6364bfad-3593-05e2-01ae-4f1d9aa6ca25-3c7f695d {
  align-self: center;
}

#w-node-_9d0ed648-f265-00b4-318e-f9e47574a621-3c7f695d, #w-node-c8e5471f-3c7a-3911-629a-f21150b51323-3c7f695d {
  align-self: center;
  justify-self: center;
}

#w-node-c2715c46-e97d-ff72-c565-1c3f18815ec4-3c7f695d, #w-node-_5e68272e-bd51-2c3c-afec-a219300fed6c-3c7f695d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Recursive sans casual';
  src: url('../fonts/RecursiveSansCslSt-SmBdItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-Bold.otf') format('opentype'), url('../fonts/Recursive-Sans-Linear-ExtraBold.otf') format('opentype'), url('../fonts/Recursive-Sans-Linear-UltraBold.otf') format('opentype'), url('../fonts/Recursive-Sans-Linear-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-ExtraBold-Italic.otf') format('opentype'), url('../fonts/Recursive-Sans-Linear-Bold-Italic.otf') format('opentype'), url('../fonts/Recursive-Sans-Linear-UltraBold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-Black-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-SemiBold-Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans casual';
  src: url('../fonts/Recursive-Sans-Casual-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recursive sans linear';
  src: url('../fonts/Recursive-Sans-Linear-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}